@import "variables";

.about {
  margin-top: 20%;
  margin-bottom: 10%;

  @media (min-width: $md){
    margin-top: 15%;
  }


  .about-facts {
    margin-bottom: 30px;

    @media (min-width: $md){
      margin-right: 15%;
    }
  }

  .about-text{
    margin-top: 15%;
  }

  .about-subheading{
    text-transform: uppercase;
    font-style: italic;
    font-size: 20px;
    margin-top: 3%;
  }

  .about-images {
    position: relative;
    margin-bottom: 20%;

    @media (min-width: $md) {
      margin-left: -50%;
    }

    .about-friends {
      width: 90%;
      margin-bottom: 10%;

      @media (min-width: $md) {
        width: 100%;
      }
    }

    .about-pink-dots {
      position: absolute;
      margin-top: 15%;
      margin-left: -43%;
      z-index: -1;
      width: 70%;

      @media (min-width: $md) {
        margin-left: -63%;
      }
    }

    @media (min-width: $md) {
      margin-left: -45%;

      .about-friends {
        width: 75%;
      }

      .about-pink-dots {
        margin-top: 9%;
        margin-left: -53%;
        z-index: -1;
        width: 60%;
      }
    }

    @media (min-width: $lg) {
      margin-left: -35%;
    }
  }

  .about-vertical-text {
    position: absolute;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: -10%;

    &:after {
      position: absolute;
      content: "";
      background: $text-color;
      left: -180px;
      height: 1px;
      width: 170px;
      top: 50%;
      transform: translateY(-50%);
    }

    @media (min-width: $md){
      left: -22%;
      top: 44%;
      transform: rotate(-90deg) translateY(-50%);

      &:after {
        left: -370px;
        width: 350px;
      }
    }

    @media (min-width: $lg){
      left: -17%;
      top: 53%;

      &:after {
        left: -250px;
        width: 230px;
      }
    }

    @media (min-width: $xl){
      left: -15%;
      top: 52%;

      &:after {
        left: -180px;
        width: 160px;
      }
    }
  }

}

