@import "variables";

header {
  .header-left {
    height: 100%;
    margin-top: 15%;
    margin-bottom: 20%;

    @media (min-width: $md){
      margin-top: 40%;
      margin-bottom: 0;

      .subpage & {
        margin-left: 10%;
      }
    }

    .subtitle {
      margin-right: 30%;
      font-style: italic;
      margin-bottom: 7%;
      margin-top: 2%;
    }
  }

  .header-img {
    display: flex;
    justify-content: flex-end;

    &.blog-entry {
      justify-content: flex-start;
    }

    img {
      width: 100%;
      height: 100%;
      animation-name: spin;
      animation-iteration-count: infinite;
      animation-duration: 20000ms;
      animation-timing-function: linear;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*navigation menu*/

.header-top {
  padding: 1% 0 1%;
  position: fixed;
  z-index: 10000;
  width: 100%;
  background: $bg-color;

  &.header-scroll {
    transition: 300ms ease-in-out;

    a {
      font-size: 12px;
    }
  }

  .nav-menu {
    display: flex;
    justify-content: flex-end;

    ul {
      display: flex;
      width: 100%;
      justify-content: flex-end;

      li {
        list-style: none;
        margin-left: 8%;
        transition: 300ms ease-in-out;
        position: relative;

      }
    }
  }
}

nav {

  ul {
    float: right;

    li {
      display: inline-block;
      float: left;

      &:not(:first-child) {
        margin-left: 25px;
      }

      a {
        display: inline-block;
        outline: none;
        color: $text-color;
        text-transform: uppercase;
        font-size: 18px;
        text-decoration: none;
        transition: 300ms ease-in-out;
        position: relative;

        &:hover, &.active {
          color: $bg-color-light;
          text-decoration: none;

          @media(min-width: $lg){
          color: $primary-color;

        }

          &:after {
            width: 100%;
          }
        }

        &:after {
          position: absolute;
          content: "";
          bottom: -8px;
          left: 0;
          right: 0;
          background: $primary-color;
          height: 2px;
          width: 0;
          transition: 300ms ease-in-out;
        }

      }
    }
  }
}


#nav:checked + .nav-open {
  transform: rotate(45deg);
}

#nav:checked + .nav-open i {
  background: #fff;
  transition: transform 0.2s ease;
}

#nav:checked + .nav-open i:nth-child(1) {
  transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-open i:nth-child(2) {
  opacity: 0;
}

#nav:checked + .nav-open i:nth-child(3) {
  transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-container {
  z-index: 9990;
  opacity: 1;
}

#nav:checked ~ .nav-container ul li a {
  opacity: 1;
  transform: translateY(0);
}

.hidden {
  display: none;
}

@media screen and (max-width: 1000px) {
  .nav-open {
    display: block !important;
  }

  .nav-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: $primary-color;
    opacity: 0;
    transition: all 0.2s ease;

    ul {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;

      li {
        display: block;
        float: none;
        width: 100%;
        text-align: right;
        margin-bottom: 10px;

        &:nth-child(1) a {
          transition-delay: 0.2s;
        }

        &:nth-child(2) a {
          transition-delay: 0.3s;
        }

        &:nth-child(3) a {
          transition-delay: 0.4s;
        }

        &:nth-child(3) a {
          transition-delay: 0.4s;
        }
      }
    }
  }


  .nav-container ul li:nth-child(4) a {
    transition-delay: 0.5s;
  }
  .nav-container ul li:not(:first-child) {
    margin-left: 0;
  }
  .nav-container ul li a {
    padding: 10px 25px;
    opacity: 0;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    transform: translateY(-20px);
    transition: all 0.2s ease;
  }
  .nav-open {
    position: fixed;
    right: 10px;
    top: 10px;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
    display: none;
  }
  .nav-open i {
    display: block;
    width: 20px;
    height: 2px;
    background: #ffffff;
    border-radius: 2px;
    margin-left: 14px;
  }
  .nav-open i:nth-child(1) {
    margin-top: 16px;
  }
  .nav-open i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }
  .nav-open i:nth-child(3) {
    margin-top: 4px;
  }
}

.header-bottom {
  position: relative;
  padding-top: 13%;

  @media(min-width: $md) {
    padding-top: 10%;
  }


  .row {
    flex-direction: column-reverse;

    @media(min-width: $md) {
      flex-direction: row;

    }
  }

  &.subpage {
    .row {
      flex-direction: column;

      @media (min-width: $md) {
          flex-direction: row;
      }
    }
  }


  .header-vertical-text {
    position: absolute;
    left: -2%;
    text-transform: uppercase;
    font-size: 14px;
    top: 50%;
    transform: rotate(-90deg) translateY(-50%);

    &:after {
      position: absolute;
      content: "";
      background: $text-color;
      left: -180px;
      height: 1px;
      width: 170px;
      top: 50%;
      transform: translateY(-50%);
    }

    @media screen and (max-width: 1300px) {
      display: none;
    }

  }
}



