a {
  text-decoration: none !important;
}
a:hover {
  text-decoration: none !important;
}

/*---------------------------------------*/
/*startpage about*/
.startpage-about {
  margin-bottom: 10%;
  margin-top: 15%;
}
.startpage-about .startpage-about-text {
  margin-right: 15%;
  margin-bottom: 30px;
}
.startpage-about .startpage-about-text h2 {
  margin-bottom: 5%;
}
.startpage-about .startpage-about-images {
  position: relative;
}
.startpage-about .startpage-about-images .friends {
  width: 100%;
  margin-bottom: 10%;
}
@media (min-width: 992px) {
  .startpage-about .startpage-about-images .friends {
    width: 430px;
    height: 330px;
  }
}
@media screen and (min-width: 1200px) {
  .startpage-about .startpage-about-images .friends {
    margin-left: 15%;
  }
}
.startpage-about .startpage-about-images .pink-dots {
  position: absolute;
  left: -10%;
  z-index: -1;
  width: 300px;
  top: -15%;
}
@media screen and (min-width: 576px) {
  .startpage-about .startpage-about-images .pink-dots {
    top: -25%;
  }
}
@media screen and (min-width: 992px) {
  .startpage-about .startpage-about-images .pink-dots {
    width: 414px;
    top: -30%;
  }
}

/*---------------------------------------*/
/*startpage about*/
.startpage-recipe-overview .row {
  justify-content: space-between;
  margin-bottom: 13%;
}
.startpage-recipe-overview .text-wrapper {
  display: flex;
  position: relative;
}
.startpage-recipe-overview .text-wrapper .symbol {
  position: absolute;
  top: 10%;
  background: #A9C3B5;
  width: 33px;
  height: 3px;
}
.startpage-recipe-overview .text-wrapper .symbol.second {
  transition: 300ms ease-in-out;
}
.startpage-recipe-overview .text-wrapper .date {
  color: #A9C3B5;
  margin-bottom: 3%;
}
.startpage-recipe-overview .text-wrapper h3 {
  color: #F8F8F8;
  margin-top: 0;
  margin-bottom: 5%;
}
@media (min-width: 992px) {
  .startpage-recipe-overview .text-wrapper h3 {
    margin-bottom: 0;
  }
}
.startpage-recipe-overview .recipe-entry img {
  margin-bottom: 7%;
  position: relative;
}
.startpage-recipe-overview .recipe-entry img:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #F36767;
}
.startpage-recipe-overview .recipe-entry.left .text {
  margin-left: 15%;
}
@media (min-width: 1200px) {
  .startpage-recipe-overview .recipe-entry.left .text {
    margin-left: 0;
  }
  .startpage-recipe-overview .recipe-entry.left .symbol {
    left: -10%;
  }
}
@media (min-width: 1200px) {
  .startpage-recipe-overview .recipe-entry.left .symbol {
    left: -25%;
  }
}
@media (min-width: 1200px) {
  .startpage-recipe-overview .recipe-entry.right {
    margin-left: 40%;
  }
  .startpage-recipe-overview .recipe-entry.right .text-wrapper {
    margin-left: 40%;
  }
}
@media (min-width: 1200px) {
  .startpage-recipe-overview .recipe-entry.right {
    margin-left: 0;
  }
  .startpage-recipe-overview .recipe-entry.right .text-wrapper {
    margin-left: 0;
  }
}
.startpage-recipe-overview .recipe-entry.right .text {
  margin-left: 15%;
}
@media (min-width: 992px) {
  .startpage-recipe-overview .recipe-entry.right .text {
    margin-left: 25%;
  }
}
.startpage-recipe-overview .recipe-entry:hover .second {
  transform: rotate(90deg);
}
.startpage-recipe-overview .recipe-entry .small-img {
  width: 100%;
}
@media (min-width: 1200px) {
  .startpage-recipe-overview .recipe-entry .small-img {
    width: 550px;
    height: 350px;
  }
  .startpage-recipe-overview .recipe-entry .small-img.left {
    margin-left: -25%;
  }
}
.startpage-recipe-overview .recipe-entry .big-img {
  width: 100%;
}
@media (min-width: 1200px) {
  .startpage-recipe-overview .recipe-entry .big-img {
    width: 850px;
    height: 500px;
  }
  .startpage-recipe-overview .recipe-entry .big-img.left {
    margin-left: -70%;
  }
}
@media (min-width: 1200px) and (min-width: 992px) {
  .startpage-recipe-overview .recipe-entry .big-img.left {
    margin-left: -93%;
  }
}

/*# sourceMappingURL=startpage.css.map */
